{% extends "items/base.html" %}
{% block title %}个人资料{% endblock %}
{% load crispy_forms_tags %}
 
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2 class="mb-0">个人资料</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ u_form|crispy }}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="submit" class="btn btn-primary">更新资料</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}